!<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The New Yorker</title>
  </head>
  <body>
    <img src="static/logo.svg" alt="Ảnh NY"><br>
    <ul>
      <li>
        <a href="https://www.google.com.vn">News</a>
      </li>
      <li>
        <a href="https://www.google.com.vn">Culture</a>
      </li>
      <li>
        <a href="https://www.google.com.vn">Books</a>
      </li>
      <li>
        <a href="https://www.google.com.vn">Humor</a>
      </li>
    </ul>
    <p><a href="https://www.google.com.vn">Books</a></p>
    <p><a href="https://www.google.com.vn">November 27, 2017 Issue</a></p><br>
    <h2>What Mary Oliver's Critics Don't Understand</h2>
    <h1>For America's most beloved poet, paying attention to nature is a springboard to the scared. </h1>
    <p>By <a href="#">Ruth Franklin</a></p>
    <ul>
      <li><img src="static/facebook.svg" alt="FB contact"></li>
      <li><img src="static/twitter.svg" alt="Tw contact"></li>
      <li><img src="static/email.svg" alt="Email contact"></li>
      <li>
        <img src="static/img.jpg" alt="Email contact"><br>
        <quote>
          <p>Oliver uses nature as a springboard to the scared - the beating heart of her work.</p>
            <cite>Illustration by Deanna Halsall</cite>
        </quote>
      </li>
    </ul>
    <p>
      "Mary Oliver is saving my life," Paul Chowder, the title character of Nicholson Baker's Novel "<a href="https://www.google.com.vn" target="_blank">The Anthologist</a>," scrawls in the margins of Oliver's "<a href="https://www.google.com.vn" target="_blank">New and Selected Poems, Volume One</a>." A struggling poet, Chowder is suffering from a severe case of writer's block. His girlfriend, with whom he's lived for eight years, has just left him, ostensibly because he has been unable to write the long-overdue introduction to a poetry anthology that he has been putting together. FOr solace and inspriration, he turns to poets who have been his touchstones - Louise Bogan, Theodore Roethke, Sara Teasdale - before discovering Oliver. In her work, he finds consolation: "I immediately felt more sure of what I was doing." Of her poems, he says, "They're very simple. And yet each has something."
    </p>
    <blockquote>
      I don't know exactly what prayer is. <br>
      I do know how to pay attention, how to fall down <br>
      into the grass, how to kneel down in the grass, <br>
      how to be idle and blessed, how to stroll through the fields, <br>
      which is what I have been doing all day.
    </blockquote>
    <p>The cadences are most Biblical. "Attention is the beginning of devotion," she urges elsewhere</p>
    <p>This article appears in the print edition of the November 27, 2017, issue, with the headline "The Art of Paying Attention."</p>
    <h3>Most Popular</h3>
    <ul>
       <li>
         1. <br>
         Letter from Washington <br>
         <br>
         <a href="https://www.google.com.vn" target="_blank">The Danger of President Pence</a><br>
         <br>
         By <a href="https://www.google.com.vn" target="_blank">Jane Mayer</a>
       </li>
       <li>
         2. <br>
         Our Columnists <br>
         <br>
         <a href="https://www.google.com.vn" target="_blank">No End in Sight to the Brexit Madness</a><br>
         <br>
         By <a href="https://www.google.com.vn" target="_blank">John Cassidy</a>
       </li>
       <li>
         3. <br>
         Satire from the Borowitz Report <br><br>
         <a href="https://www.google.com.vn" target="_blank">Mueller Rents Giant Warehouse to Store Evidence Against Trump</a><br><br>
         By <a href="https://www.google.com.vn" target="_blank">Andy Borowitz</a>
       </li>
     </ul>
     Daily Cartoon <br>
     <h1>
       <a href="https://www.google.com.vn" target="_blank">Daily Cartoon: Friday,November 4th</a>
     </h1>
     <h1>Forgetting the garnish.</h1>
     By <a href="https://www.google.com.vn" target="_blank">Liana Finck</a>
     Nov. 24, 2017 <br>
     Elements <br>
     <h1>
       <a href="https://www.google.com.vn" target="_blank">AtBerkeley, a New Generation of Ethical Hackers Learns the Do's and Don'ts of Cybersecurity</a>
     </h1>
     <h1>
       How long would it take a junior computer-science major to disrupt an election?
     </h1>
     By <a href="https://www.google.com.vn" target="_blank">Anna Wiener</a><br>
     Nov. 24, 2017 <br>
     <h3>
       <a href="https://www.google.com.vn">Listen to the NewYorker Radio Hour</a><br>
     </h3>
     <h3>
       <a href="https://www.google.com.vn">Buy the Cover</a><br>
     </h3>
     <h3>
       <a href="https://www.google.com.vn">Play the Jigsaw Puzzle</a>
     </h3>

  </body>
</html>
