<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ex Anh</title>
  </head>
  <body>
    <h1>Welcome to Tuan Anh's online profile!!!</h1>
    <a href="https://www.linkedin.com/in/ryan-anhnguyen/" target="_blank"> Thông tin Linked In</a><br>
    <img src="static/exanh.JPG" alt="Ảnh đẹp trai">
    <p>Họ và tên: Nguyễn Tuấn Anh</p>
    <p>Nickname: Ex Anh</p>
    <p>Tên giao dịch Quốc tế: Ryan Nguyen</p>
    <div class="">
      Siêu năng lực: Đẹp trai!
      <a href="https://www.youtube.com/watch?v=r9-DM9uBtVI" target="_blank">Bạn không tin???</a>

    </div>


  </body>
</html>
